body {
  font-family: Arial, sans-serif;
  background: rgb(83, 80, 142);
  background: linear-gradient(
    90deg,
    rgba(83, 80, 142, 1) 0%,
    rgba(72, 72, 156, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 47px;
  padding-left: 110px;
  padding-right: 128px;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Set the background color to be transparent */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
  margin-top: 105px;
}

h1 {
  font-size: 30px;
  font-family: sans-serif;
}

.container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

/* Add more styles as needed */

.results-container {
  display: flex;
  margin: 60px;
}

.column {
  flex: 1;
  border: 1px solid black; /* Optional: To visualize the columns */
  border-radius: 15px;
  align-content: center;
}
